# Maven / Java
target/
*.class
*.log

# IntelliJ / Eclipse / VSCode
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Spring Boot config (güvenlik)
src/main/resources/application.properties
*.env
